.container__menu-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20rem;
    height: 9rem;
    background-color: #282A36;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    box-shadow: 0 0 5px #ccc;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}

.container__menu-title > h1{
    font-size: 1.5rem;
    font-weight: 400;
    color: #eeeff1;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 80px;
    justify-content: center;
    font-family: 'segoe UI';
}

.container__menu-title > hr{
  margin-top: 100px;
  margin-bottom: 100px;
}
