.container__menu-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20rem;
    height: 9rem;
    background-color: #282A36;
    border-bottom: 1px solid #ccc;

}

.container__menu-title > h1{
    font-size: 1.5rem;
    font-weight: 400;
    color: #eeeff1;
    margin-top: 15px;
    margin-bottom: 15px;
    align-self: start;
    font-size: 80px;
    justify-content: center;
    font-family: 'segoe UI';
}

.container__menu-title > hr{
  margin-top: 100px;
  margin-bottom: 100px;
}

.container__menu-title > p{
    font-weight: 400;
    color: #eeeff1;
    margin-right: 40px;
    font-size: 15px;
    align-items: center;
    justify-content: center;
    font-family: 'segoe UI';
}
