

<app-menu-title></app-menu-title>

<div class="container__articles">
  <div class="articles__main">
    <app-big-cardcls
      Id="1"
      cardPhoto="https://upload.wikimedia.org/wikipedia/pt/a/ac/CRVascodaGama.png"
      cardTitle="Reforço novo no Vasco Da Gama"
      cardDescription="João Victor acerta os detalhes com
      Vasco Da Gama por 6 milhões de euros e é o novo
      zagueiro do Vasco">
    </app-big-cardcls>
  </div>
  <div class="articles__others">
    <app-small-card
    Id="2"
    cardPhoto="https://upload.wikimedia.org/wikipedia/pt/a/ac/CRVascodaGama.png"
    cardTitle="VASCO ACERTA RENOVAÇÃO COM RAMON DIAZ"
    >
    </app-small-card>
    <app-small-card
    Id="3"
    cardPhoto="https://upload.wikimedia.org/wikipedia/pt/a/ac/CRVascodaGama.png"
    cardTitle="VASCO EMPRESTA FIGUEIREDO PARA O CORITIBA"
    >
    </app-small-card>
    <app-small-card
    Id="4"
    cardPhoto="https://upload.wikimedia.org/wikipedia/pt/a/ac/CRVascodaGama.png"
    cardTitle="VASCO JÁ TREINA NO URUGUAI PARA A PRÉ-TEMPPORADA"
    >
    </app-small-card>
  </div>
</div>
