<div class="container__big-card">
  <div class="big-card__photo">
    <img
      src="{{ cardPhoto }}"
      alt=""
      height="200px"
      width="400px"
      srcset=""
    >
  </div>

  <div class="big-card__title">
    <h1><a [routerLink]="['content', Id]">{{ cardTitle }}</a></h1>
  </div>


  <div class="big-card__description">
    <p>
      {{ cardDescription }}
    </p>
  </div>

  <div class="big-card__link__text">
    <a [routerLink]="['content', Id]"><p>ver mais</p></a>
  </div>
</div>
